[submodule "ThirdParty/json"]
	path = ThirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "ThirdParty/mitransform_kernels"]
	path = ThirdParty/mitransform_kernels
	url = https://github.com/dmikushin/mitransform.git
	branch = kernels
[submodule "ThirdParty/gputt"]
	path = ThirdParty/gputt
	url = https://github.com/dmikushin/gputt.git
